@{
    ViewBag.Title = "None";
}


<h1>Application Error occurred.</h1>


<h2>You Attempted One of the following</h2>
<ul>
    <li>Deposit/Withdrawal-Wrong account Number entered for transaction</li>
    <li>Withdrawal-Insufficient Funds in account for withdrawal request</li>
</ul>



