@page
@model JNCB.Views.Transactions.InsuffModel
@{
}

<h1>Transaction Error</h1>

<p>Your Last Transaction wasn't complete because of insufficient funds</p>

<div>
    <a asp-action="Create">Back to List</a>
</div>
