@{
    ViewBag.Title = "None";
}

<h1>@ViewBag.ErrorMessage</h1>

<p>Application Error occurred</p>
<br />
<p>You were idle as a result session expired</p>

<a asp-action="Login" asp-controller="Account">
    Login to continue
</a>